.rubik-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #ff3300;
}
.rubik-zwart {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}
body {
  background-image: url('../assets/plain-only-one-side-design-gradient-red-Color-youtube-thumbnail-template-298.png');
  background-size: cover;
  background-position: center;
  /* Add any additional background properties here */
}
.content h1{

  margin-bottom: 1rem;
  font-size: 3rem;
}

.home{

  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content{

  max-width: 600px;

}
.home-content h1{

  font-size: 56px;
  font-weight: 700;
}
.home-content h3{

  font-size: 32px;
  font-weight: 700;
}
.home-content p{
  font-size: 16px;
}
.home-content .btn-box{

  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a{

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #ff3300;
  border: 2px solid #ff3300;
  border-radius: 8px;
  font-size: 19px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;

}
.container {
  position: relative;
}

.afbeelding-logo {
  float: right;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.one{

  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  scroll-snap-align: start;
}

